[Unit]
Description=NATS Server
After=network.target

[Service]
User={{ nats_user }}
Group={{ nats_group }}
Type=simple
ExecStart=/usr/local/bin/nats-server -c {{ nats_config_dir }}/nats-server.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
